#frame{
    margin-top: 30px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    display: block;
}

.fields {
    gap: 40px;
    display: flex;
}

.field{
    gap: 10px;
    display: flex;
}

#button {
    margin-top: 70px;
}