.button {
    background-color: #f36d2e;
    padding: 10px 20px 10px 20px;
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
}

:hover.button{
    background-color: rgb(197, 65, 5);
}