.h1 {

    color: rgb(78, 51, 255);
    font-size: 67px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    color: black;
    
}

.h2 {

    font-size: 45px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    color: #000000;

}

.h3{
    font-size: 28px;
    font-weight: 300;
    color: black;
}

.h4{
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.h5 {
    font-size: 16px;
}

.parag{
    font-size: 19px;
    font-weight: 220;
    margin: 15px 0px 20px 0px;
    color: black;
}