#frame{
    margin-top: 50px;
    gap: 50px;
}

#innerPathFrame{
    justify-content: center;
    margin-top: 20px;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}